<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="./img/logo_test.png" alt="Logo">
            <a class="learn" href="#">Learning</a>
            <a class="settings" href="#">Settings</a>
        <div class ="search group"'> <input class="search" type="text" placeholder="Cardss maker"> <button class = 'new_card'> click me</button></div>
        <a class="sign-up" href="#">Sign Up</a>
    </header>


     <br><br><br><br><br><br><br><!-- test-->
    <div class = block> <p class = 'cardss'> Card: </p> </div>
    <div class = "right_left"> <button class = "left"> Left</button> <button class="right"> Right</button></div>

    <script src="/js/main.js"> </script>
</body>

</html>